<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/firstwebsite.css">
</head>

<body>
    <div class="container mx-4">
        <nav class="navbar navbar-expand-lg  fixed-top">
            <a class="navbar-brand text-white  text-uppercase lead" href="#">SK HOSPITAL</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><img src="/img/hospital-sign.png" alt=""></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-white btn-lg text-uppercase lead" href="#home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white btn-lg text-uppercase lead"  href="#service">SERVICES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white btn-lg text-uppercase lead"  href="#doctors">DOCTORS</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white btn-lg text-uppercase lead"  href="#details">appointment</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white btn-lg text-uppercase lead"  href="#gallery">gallery</a> 
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2 rounded-pill" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-info my-2 my-sm-0 text-white rounded-pill" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>

    <div class="picture" id="home"  >
        <img src="/img/doctors.jpg"  style="height: 500px ; min-width: 100%;" alt="">
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 col-lg-3 mt-n5">
                <div class="card bg-info">
                <h2 class="text-white mx-4">Why choose medilab</h2>
                <div class="card-body">
                    <p class="text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi corporis ea, sint asperiores, eius sit incidunt sapiente dolorum at culpa error atque enim minima laboriosam. Officiis voluptas quas et necessitatibus?</p>
                </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mt-n3  ">
                <div class="card">
                    <i class="far fa-file-alt fa-3x mx-auto my-4 text-info"></i>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis cupiditate, incidunt tempora eos dolorem repudiandae.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mt-n3 ">
                <div class="card  ">
                    <i class="fas fa-cube fa-3x mx-auto my-4 text-info"></i>
                    <div class="card-body">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique, sunt tenetur fugiat ipsum modi iusto.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mt-n3">
                <div class="card">
                    <i class="fas fa-image fa-3x mx-auto my-4 text-info"></i>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et a fuga asperiores nisi id consectetur.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<section id="skills" class="my-5">
    <div class="container-fluid">
        <div class="row">
            <div class=" col-md-12 col-lg-6">
                <img src="/img/covid.jpg" class="img-fluid" style="height: 600px; min-width: 100%;" alt="">
            </div>
            <div class=" col-md-12 col-lg-6">
                <div class="row py-4">
                    <div class="col ">
                        <h4>Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
                        <p class="my-2 lead"><small> Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi dignissimos perspiciatis temporibus dicta voluptas nostrum in corrupti ipsa magnam recusandae.</small></p>
                        <div class="my-3 d-flex">
                            <i class="fas fa-check fa-3x my-2 mx-3 bg-info circle-icon text-white"></i>
                            <div class="row">
                                <div class="col">
                                    <h4>ravi prakash</h4>
                                    <p class="ml-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, molestiae!</p>
                                </div>
                            </div>
                        </div>
                        <div class="my-3 d-flex">
                            <i class="fas fa-check fa-3x my-2 mx-3 bg-info circle-icon  text-white"></i>
                            <div class="row">
                                <div class="col">
                                    <h4>Walter White</h4>
                                    <p class="ml-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, molestiae!</p>
                                </div>
                            </div>
                        </div>
                        <div class="my-3 d-flex">
                            <i class="fas fa-check fa-3x my-2 mx-3 bg-info circle-icon text-white"></i>
                            <div class="row">
                                <div class="col">
                                    <h4>Jessie pinkman</h4>
                                    <p class="ml-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, molestiae!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>

<section id="service" class="py-4">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1 class="display-5">Services</h1>
                <div class="title-underline bg-secondary"></div>
                <p class="my-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam reprehenderit pariatur ipsum, harum nihil laboriosam. Ipsa, adipisci eaque rerum ab ipsam numquam fuga perferendis nostrum!</p>
            </div>
        </div>

        <div class="row py-4 mx-auto">
            <div class="col-sm-6 col-md-4 col-lg-4 mx-auto my-3">
                <div class="card" style="width: 18rem;">
                    <i class="fas fa-heartbeat fa-3x mx-auto my-4 text-info"></i>
                    <div class="card-body text-center">
                        <p class=" h3 ">Lorem ipsum</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias, exercitationem!</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 mx-auto my-3">
                <div class="card" style="width: 18rem;">
                    <i class="fas fa-weight fa-3x mx-auto my-4 text-info"></i>
                    <div class="card-body text-center">
                        <p class="h3 ">Lorem ipsum</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quos?</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4  my-3">
                <div class="card" style="width: 18rem;">
                    <i class="fas fa-dna fa-3x mx-auto my-4 text-info"></i>
                    <div class="card-body text-center">
                        <p class="h3 ">Lorem ipsum</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet numquam</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mx-auto my-3">
                <div class="card" style="width: 18rem;">
                    <i class="fas fa-image fa-3x mx-auto my-4 text-info"></i>
                    <div class="card-body text-center">
                        <p class="h3 ">Lorem ipsum</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, alias.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mx-auto my-3">
                <div class="card" style="width: 18rem;">
                    <i class="fas fa-image fa-3x mx-auto my-4 text-info"></i>
                    <div class="card-body text-center">
                        <p class="h3 ">Lorem ipsum</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, eaque.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mx-auto my-3">
                <div class="card" style="width: 18rem;">
                    <i class="fas fa-image fa-3x mx-auto my-4 text-info"></i>
                    <div class="card-body text-center">
                        <p class="h3 ">Lorem ipsum</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, repudiandae?</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>

<section id="details" class="py-4">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1 class="display-5"><strong>Make An Apointment</strong></h1>
                <div class="title-underline bg-secondary"></div>
                <p class="my-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam reprehenderit pariatur ipsum, harum nihil
                    laboriosam. Ipsa, adipisci eaque rerum ab ipsam numquam fuga perferendis nostrum!</p>
            </div>
        </div>
        
        <form class="needs-validation my-3" novalidate>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <input type="text" class="form-control" placeholder="Name" id="validationTooltip01" required>
                    <div class="valid-tooltip">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <input type="email" class="form-control" id="validationTooltip02" placeholder="Email" required>
                    <div class="valid-tooltip">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <input type="tel" class="form-control" id="validationTooltip02" placeholder="phone" required>
                    <div class="valid-tooltip">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="form-row my-3">
                <div class="col-md-6 mb-3">
                    <input type="date" class="form-control" placeholder="appointment date" id="validationTooltip03" required>
                </div>
                <div class="col-md-3 mb-3">
                    <select class="custom-select" id="validationTooltip04" required>
                        <option selected disabled value="">Choose Department</option>
                        <option>..</option>

                    </select>
                </div>
                <div class="col-md-3 mb-3">
                    <select class="custom-select" id="validationTooltip04" required>
                        <option selected disabled value="">Doctors</option>
                        <option>Dr.Sara</option>
                    </select>
                </div>
            </div>
            <textarea class="form-control mb-3" id="validationTextarea" placeholder="Message(optional)"
                required></textarea>
                <div class="text-center"> <button class="btn btn-primary" type="submit">Make An Appointment</button></div>
        </form>

    </div>
</section>

<section id="doctors" class="my-4">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1 class="display-5"><strong>Doctors</strong></h1>
                <div class="title-underline bg-secondary"></div>
                <p class="my-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam reprehenderit pariatur ipsum,
                    harum nihil
                    laboriosam. Ipsa, adipisci eaque rerum ab ipsam numquam fuga perferendis nostrum!</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <!-- doctor1 -->
                 <div class="row my-5">
                     <div class="col">
                         <img src="/img/doctor3.jpg" width="150px" height="150px" class="img-fluid rounded-circle" alt="">
                     </div>
                    <div class="col-8">
                       <div class="row my-3 ">
                           <div class="col">
                               <h5><strong>Walter White</strong></h5>
                               <p class="mr-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, fugit.</p>

                               <div class="row">
                                 <a href="#"><span><i class="fab fa-facebook fa-2x mx-2 text-info"></i></span></a> 
                                <a href="#"><span><i class="fab fa-twitter fa-2x  mx-2 text-info"></i></span></a>
                                <a href="#"><span><i class="fab fa-instagram fa-2x  mx-2 text-info"></i></span></a>
                                 <a href="#"><span><i class="fab fa-google fa-2x  mx-2 text-info"></i></span></a>
                                    
                               </div>
                           </div>
                       </div> 
                    </div>
                 </div> 
                 <!-- end of doctor1 -->
                 <!-- doctor2 -->
                <div class="row my-5">
                    <div class="col">
                        <img src="/img/doctor3.jpg" width="150px" height="150px" class="img-fluid rounded-circle" alt="">
                    </div>
                    <div class="col-8">
                        <div class="row my-3 ">
                            <div class="col">
                                <h5><strong>John Marshall</strong></h5>
                                <p class="mr-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, fugit.</p><div class="row">
                                    <a href="#"><span><i class="fab fa-facebook fa-2x mx-2 text-info"></i></span></a> 
                                    <a href="#"><span><i class="fab fa-twitter fa-2x  mx-2 text-info"></i></span></a>
                                    <a href="#"><span><i class="fab fa-instagram fa-2x  mx-2 text-info"></i></span></a>
                                     <a href="#"><span><i class="fab fa-google fa-2x  mx-2 text-info"></i></span></a>
                                        
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end doctor2 -->
            </div>

            <div class="col-md-6">
                <div class="row my-5">
                    <div class="col">
                        <img src="/img/doctor3.jpg" width="150px" height="150px" class="img-fluid rounded-circle" alt="">
                    </div>
                    <div class="col-8">
                        <div class="row my-3 ">
                            <div class="col">
                                <h5><strong>Dr. Steven</strong></h5>
                                <p class="mr-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, fugit.</p>
                
                                <div class="row">
                                    <a href="#"><span><i class="fab fa-facebook fa-2x mx-2 text-info"></i></span></a> 
                                <a href="#"><span><i class="fab fa-twitter fa-2x  mx-2 text-info"></i></span></a>
                                <a href="#"><span><i class="fab fa-instagram fa-2x  mx-2 text-info"></i></span></a>
                                 <a href="#"><span><i class="fab fa-google fa-2x  mx-2 text-info"></i></span></a>
                                    
                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- doctor2 -->
                <div class="row my-5">
                    <div class="col">
                        <img src="/img/doctor3.jpg" width="150px" height="150px" class="img-fluid rounded-circle" alt="">
                    </div>
                    <div class="col-8">
                        <div class="row my-3 ">
                            <div class="col">
                                <h5><strong>Dr. Mark D. MIller </strong></h5>
                                <p class="mr-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, fugit.</p>
                
                                <div class="row">
                                    <a href="#"><span><i class="fab fa-facebook fa-2x mx-2 text-info"></i></span></a> 
                                    <a href="#"><span><i class="fab fa-twitter fa-2x  mx-2 text-info"></i></span></a>
                                    <a href="#"><span><i class="fab fa-instagram fa-2x  mx-2 text-info"></i></span></a>
                                     <a href="#"><span><i class="fab fa-google fa-2x  mx-2 text-info"></i></span></a>
                                        
                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- doctor2 -->
            </div>
        </div>
    </div>
</section>

<section id="faq" class="my-5">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1 class="display-5"><strong>Frequently Asked Questions</strong></h1>
                <div class="title-underline bg-secondary"></div>
                <p class="my-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam reprehenderit pariatur ipsum,
                    harum nihil
                    laboriosam. Ipsa, adipisci eaque rerum ab ipsam numquam fuga perferendis nostrum!</p>
            </div>
        </div>
        
        <div class="panel-group text-center" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                            href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                            What are the benefits of Solodev CMS?
                        </a>
                    </h4>
                </div>
                <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                    <div class="panel-body px-3 mb-4">
                        <p>With Solodev CMS, you and your visitors will benefit from a finely-tuned technology stack that drives
                            the highest levels of site performance, speed and engagement - and contributes more to your bottom
                            line. Our users fell in love with:</p>
                        <ul>
                            <li>Light speed deployment on the most secure and stable cloud infrastructure available on the
                                market.</li>
                            <li>Scalability – pay for what you need today and add-on options as you grow.</li>
                            <li>All of the bells and whistles of other enterprise CMS options but without the design limitations
                                - this CMS simply lets you realize your creative visions.</li>
                            <li>Amazing support backed by a team of Solodev pros – here when you need them.</li>
                        </ul>
                    </div>
                </div>
            </div>
        
            <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                            href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                            How easy is it to build a website with Solodev CMS?
                        </a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                    <div class="panel-body px-3 mb-4">
                        <p>Building a website is extremely easy. With a working knowledge of HTML and CSS you will be able to
                            have a site up and running in no time.</p>
                    </div>
                </div>
            </div>
        
            <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                            href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                            What is the uptime for Solodev CMS?
                        </a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                    <div class="panel-body px-3 mb-4">
                        <p>Using Amazon AWS technology which is an industry leader for reliability you will be able to
                            experience an uptime in the vicinity of 99.95%.</p>
                    </div>
                </div>
            </div>
        
            <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                            href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                            Can Solodev CMS handle multiple websites for my company?
                        </a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                    <div class="panel-body px-3 mb-4">
                        <p>Yes, Solodev CMS is built to handle the needs of any size company. With our Multi-Site Management,
                            you will be able to easily manage all of your websites.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="gallery" class="my-5">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1 class="display-5"><strong>Gallery</strong></h1>
                <div class="title-underline bg-secondary"></div>
                <p class="my-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam reprehenderit pariatur ipsum,
                    harum nihil
                    laboriosam. Ipsa, adipisci eaque rerum ab ipsam numquam fuga perferendis nostrum!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <img src="/img/doctor4.jpg" width="300" height="300" class="img-fluid py-2" alt="">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <img src="/img/doctor5.jpg" width="300" height="300" class="img-fluid  py-2"  alt="">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <img src="/img/doctors8.jpg" width="300" height="300" class="img-fluid  py-2" alt="">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <img src="/img/doctors7.jpg" width="300" height="300" class="img-fluid  py-2" alt="">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <img src="/img/doctors12.jpg" width="300" height="300" class="img-fluid  py-2" alt="">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <img src="/img/doctors9.jpg" width="300" height="300" class="img-fluid  py-2" alt="">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <img src="/img/doctors10.jpg" width="300" height="300" class="img-fluid  py-2" alt="">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <img src="/img/doctors11.jpg" width="300" height="300" class="img-fluid  py-2" alt="">
            </div>

        </div>
    </div>
</section>

<section id="contact" class="py-5">
    <div class="container-fluid">
    <div class="row text-center mx-5">
        <div class="col">
            <h1 class="display-5"><strong>Contact</strong></h1>
            <div class="title-underline bg-secondary"></div>
            <p class="my-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam reprehenderit pariatur ipsum,
                harum nihil
                laboriosam. Ipsa, adipisci eaque rerum ab ipsam numquam fuga perferendis nostrum!</p>
        </div>
    </div>
    <div class="embed-responsive embed-responsive-21by9">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3504.0859387674177!2d77.20785641471979!3d28.567181993787305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce26f903969d7%3A0x8367180c6de2ecc2!2sAll%20India%20Institute%20Of%20Medical%20Sciences%2C%20New%20Delhi!5e0!3m2!1sen!2sin!4v1598868141698!5m2!1sen!2sin"
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
    </div>
        <div class="row mx-5 py-5">
            <div class="col-md-4">
                <div class=" d-flex">
                     <i class="fas fa-thumbtack fa-2x text-info my-2"></i>
               <div class="row mx-1">
                   <div class="col">
                       <h4>Location</h4>
                       <p>A-1,chattarpur,near JVTS</p>
                   </div>
               </div>
            </div>
            <div class=" d-flex">
                <i class="fas fa-phone-square-alt fa-2x text-info my-2"></i>
                <div class="row mx-1">
                    <div class="col">
                        <h4>Call Us</h4>
                        <p>7338932965</p>
                    </div>
                </div>
            </div>
            <div class=" d-flex">
                <i class="fas fa-envelope fa-2x text-info my-2"></i>
                <div class="row mx-1">
                    <div class="col">
                        <h4>Email</h4>
                        <p>rprakash1391995@gmail.com</p>
                    </div>
                </div>
            </div>
            </div>


            <div class="col-md-8">
                <div class="row">
                    <div class="col">
                        <form>
                            <div class="row">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder=" name">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class=" my-3">
                                <input type="email" class="form-control" placeholder="Subject">
                            </div>
                            <div class="my-3">
                                <textarea class="form-control" id="validationTextarea" placeholder="Message" required></textarea>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary" type="submit">Submit form</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</section>

<section id="useful" class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>Medilab</h3>
                <p class="my-n1">Lorem ipsum dolor</p>
                <p class="my-n1">Lorem, ipsum dolor.</p>
                <p >united states</p>
                <p><strong>Phone</strong>:7338932965</p>
                <p class="my-n3"><strong>Email</strong>:r@vi2715@gmail.com</p>

            </div>
            <div class="col-md-3">
                <h3><strong>Useful Links</strong></h3>
                <a href="" class="my-4">Home</a>
                <br>
                <a href="" class="my-4">About Us</a>
                <br>
                <a href="" class="my-4">Services</a>
                <br>
                <a href="" class="my-4">Terms of Services</a>
                <br>
                <a href="" class="my-4">Privacy Policy</a>
            </div>
            <div class="col-md-3">
                <h3><strong>Our Services</strong></h3>
                <a href="" class="my-4">Web Design</a>
                <br>
                <a href="" class="my-4">Web Development</a>
                <br>
                <a href="" class="my-4">Producr Management</a>
                <br>
                <a href="" class="my-4">Marketing</a>
                <br>
                <a href="" class="my-4">Graphic Design</a>
            </div>
            <div class="col-md-3">
                <h4><strong>Join Our newseteller</strong></h4>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <div class="input-group">
                    <input type="text" class="form-control" >
                    <div class="input-group-append" id="button-addon4">
                        <button class="btn bg-info rounded" type="button">Subscribe</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="pull-left col-lg-4 col-xs-12">
                <p>Copyright &copy;RaviLab <small>All Rights Reserved</small></p>
            </div>
            <div class="col-lg-4 ml-auto ">
                <div >
                    <a href="#"><i class="fab fa-linkedin-in fa-2x mx-2"></i></a>
                    <a href="#"><i class="fab fa-twitter fa-2x  mx-2"></i></a>
                    <a href="#"><i class="fab fa-skype fa-2x  mx-2"></i></a>
                    <a href="#"><i class="fab fa-facebook fa-2x  mx-2"></i></a>
                    <a href="#"><i class="fab fa-instagram fa-2x  mx-2"></i></a>

                </div>
            </div>
        </div>
    </div>
</footer>

<!-- js -->
<script src="./js/jquery-3.5.1.min.js"></script>
<script src="./js/bootstrap.bundle.min.js"></script>
</body>
</html>